body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.btn {
	text-transform: none;
}

.hidden {
	display: none;
}

.margin-b1 {
	margin-bottom: 1px !important;
}

.hover-effect:hover {
	background-color: red;
}