<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="courses">
	<div class="col s12 m4">
		<div class="card center-align">
			<div class="card-image">
				<img src="/images/office.jpg" style="height: 150px">
			</div>
			<div class="card-content">
				<p class="teal-text">MS OFFICE</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn list-pdf"
					data-course-category="MS Office">VIEW HERE</a>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card center-align">
			<div class="card-image">
				<img src="/images/designing.jpg" style="height: 150px">
			</div>
			<div class="card-content">
				<p class="teal-text">WEB DESIGNING</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn list-pdf"
					data-course-category="Web Designing">VIEW HERE</a>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card center-align">
			<div class="card-image">
				<img src="/images/programming.jpg" style="height: 150px">
			</div>
			<div class="card-content">
				<p class="teal-text">PROGRAMMING</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn list-pdf"
					data-course-category="Programming">VIEW HERE</a>
			</div>
		</div>
	</div>
</div>