<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<nav class="nav-wrapper teal lighten-2">
		<div class="container">
			<a href="#" class="logo-link brand-logo">iCourses</a> <a href="#"
				data-target="mobile-demo" class="sidenav-trigger"><i
				class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a class="register-link waves-effect" href="#">Register</a></li>
				<li><a class="login-link waves-effect" href="#">Login</a></li>
			</ul>
		</div>
	</nav>
</div>