<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<nav class="nav-wrapper teal lighten-2">
		<div class="container">
			<a href="/" class="logo-link brand-logo">iCourses</a> <a href="#"
				data-target="mobile-demo" class="sidenav-trigger"><i
				class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="without-session"><a
					class="register-link waves-effect" href="#">Register</a></li>
				<li class="without-session"><a class="login-link waves-effect"
					href="#">Login</a></li>
				<li class="hidden with-session"><a class="username-placeholder"
					href="#" style="pointer-events: none;"></a></li>
				<li class="hidden with-session"><a
					class="logout-link waves-effect" href="#">Logout</a></li>
			</ul>
		</div>
	</nav>
</div>