<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>iCourse</title>
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- navigation header: start -->
	<div class="navbar-fixed">
		<div th:replace="header :: header"></div>
	</div>
	<!-- navigation header: end -->
	<!-- mobile navigation: start -->
	<div th:replace="sidenav :: sidenav"></div>
	<!-- mobile navigation: end -->
	<!-- content container: start -->
	<div id="content-container" class="container">
		<!-- registration-form container: start -->
		<div id="registration-form-container" class="row center">
			<div th:replace="register :: register"></div>
		</div>
		<!-- registration-form container: end -->
		<!-- login-form container: start -->
		<div id="login-form-container" class="row center hidden">
			<div th:replace="login :: login"></div>
		</div>
		<!-- login-form container: end -->
	</div>
	<!-- content container container: start -->

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>