<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>iCourse</title>
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- navigation header: start -->
	<div class="navbar-fixed">
		<nav class="nav-wrapper teal lighten-2">
			<div class="container">
				<a href="#" class="home-link brand-logo">iCourses</a> <a href="#"
					data-target="mobile-demo" class="sidenav-trigger"><i
					class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="register-link waves-effect" href="#">Register</li>
					<li><a class="login-link waves-effect" href="#">Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- navigation header: end -->
	<!-- side navigation: start -->
	<ul class="sidenav" id="mobile-demo">
		<li><a class="register-link waves-effect" href="#">Register</a></li>
		<li><a class="signin-link waves-effect" href="#">Login</a></li>
	</ul>
	<!-- side navigation: end -->
	<div id="home-container" class="container">
		<div id="registration-form-container" class="row center">
			<h5 class="teal-text">Register</h5>
			<form id="register-form" class="col s12 m6 offset-m3">
				<div class="row margin-b1">
					<div class="input-field col s6">
						<input placeholder="First Name" id="first_name" type="text"
							class="validate" required> <label for="first_name">First
							Name</label> <span class="input-firstname helper-text"
							data-error="Please enter first name"></span>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" required>
						<label for="last_name">Last Name</label> <span
							class="input-lastname helper-text"
							data-error="Please enter last name"></span>
					</div>
				</div>
				<div class="row margin-b1">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" required>
						<label for="email">Email</label> <span
							class="input-email helper-text"
							data-error="Please provide valid email"></span>
					</div>
				</div>
				<div class="row margin-b1">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" required>
						<label for="password">Password</label> <span
							class="input-password helper-text"
							data-error="Please enter password"></span>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label> <input name="category-radio" type="radio" checked />
							<span>Student</span>
						</label>
					</div>
					<div class="input-field col s6">
						<label> <input name="category-radio" type="radio" /> <span>Teacher</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button class="btn waves-effect right" type="submit" name="action">Register
						</button>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<a class="signin-link" href="#">Already registered? Login here</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>