<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="login">
	<h5 class="teal-text">Login</h5>
	<form id="login-form" class="col s12 m6 offset-m3">
		<div class="row margin-b1">
			<div class="input-field col s12">
				<input id="login-email" type="email" class="validate" required>
				<label for="login-email">Email</label> <span class="helper-text"
					data-error="Please provide valid email"></span>
			</div>
		</div>
		<div class="row margin-b1">
			<div class="input-field col s12">
				<input id="login-password" type="password" class="validate" required>
				<label for="login-password">Password</label> <span
					class="helper-text" data-error="Please enter password"></span>
			</div>
		</div>
		<div class="row margin-b1">
			<div class="input-field col s12">
				<button class="btn waves-effect right" type="submit" name="action">Login
				</button>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<a class="forgot-password-link teal-text left" href="#">Forgot
					Password?</a>
			</div>
			<div class="input-field col s6">
				<a class="register-link teal-text right" href="#">New user?
					Register here</a>
			</div>
		</div>
	</form>
</div>