<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pdf">
	<div id="course-box" class="col s12 m3">
		<div class="row">
			<button id="back-courses" class="btn waves-effect waves-light left">BACK
				TO COURSES</button>
		</div>
		<div class="row">
			<ul id="pdf-list" class="collection with-header">
				<li id="course-title-li" class="collection-header center"><h5
						id="course-title" class="teal-text"></h5></li>
			</ul>
		</div>
	</div>
	<div id="pdf-render-container" class="col s12 m9">
		<div id="mode-btn-container" class="row">
			<div class="col s12">
				<div class="row">
				    <div class="col s4">
						<a id="btn-full"
							class="view-pdf emb-btn waves-effect waves-light btn right"
							data-embed-mode="FULL_WINDOW">FULL <span
							class="hide-on-small-and-down">WINDOW</span></a>
					</div>
					<div class="col s4">
						<a id="btn-sized"
							class="view-pdf emb-btn waves-effect waves-light btn right"
							data-embed-mode="SIZED_CONTAINER">SIZED <span
							class="hide-on-small-and-down">CONTAINER</span></a>
					</div>					
					<div class="col s4">
						<a id="btn-inline"
							class="view-pdf emb-btn waves-effect waves-light btn right"
							data-embed-mode="IN_LINE">IN LINE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="center col s12">
				<div id="adobe-dc-sized-container" style="height: 400px"></div>
				<div id="adobe-dc-full-window" style="height: 400px"></div>
				<div id="adobe-dc-in-line"></div>
			</div>
		</div>
	</div>
</div>