<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pdf">
	<div id="course-box" class="col s12 m3">
		<div class="row">
			<button id="back-courses" class="btn waves-effect waves-light left">BACK
				TO COURSES</button>
		</div>
		<div class="row">
			<ul id="pdf-list" class="collection with-header">
				<li id="course-title-li" class="collection-header center"><h5
						id="course-title" class="teal-text"></h5></li>
			</ul>
		</div>
	</div>
	<div id="" class="col s12 m5"></div>
	<div id="whiteboard" class="col s12 m4"></div>
</div>