<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pdf">
	<div id="course-box" class="col s12 m3">
		<div class="row">
			<button id="back-courses"
				class="back-courses btn waves-effect waves-light left">BACK
				TO COURSES</button>
		</div>
		<div class="row">
			<ul id="pdf-list" class="collection with-header">
				<li id="course-title-li" class="collection-header center"><h5
						id="course-title" class="teal-text"></h5></li>
			</ul>
		</div>
	</div>
	<div id="pdf-render-container" class="col s12 m9">
		<div id="mode-btn-container" class="row" style="margin-bottom: 0px">
			<div class="col s12">
				<div class="row">
					<div class="col s4 offset-s4">
						<button id="btn-full"
							class="view-pdf emb-btn waves-effect waves-light btn right"
							data-embed-mode="FULL_WINDOW">
							FULL <span class="hide-on-small-and-down">WINDOW</span>
						</button>
					</div>
					<div class="col s4">
						<button id="btn-sized"
							class="view-pdf emb-btn waves-effect waves-light btn right"
							data-embed-mode="SIZED_CONTAINER">
							SIZED <span class="hide-on-small-and-down">CONTAINER</span>
						</button>
					</div>
					<div id="student-note" class="col s12 hidden">
						<p class="teal-text s12"
							style="font-weight: 600; margin-bottom: 0px">
							<span style="color:red">** </span> Students need to add
							comment "Completed" in full window view on completing their
							assignment
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="center col s12">
				<div id="adobe-dc-sized-container"
					style="height: 500px; border: 1px solid #e0e0e0"></div>
				<div id="adobe-dc-full-window"
					style="height: 600px; border: 1px solid #e0e0e0"></div>
			</div>
		</div>
		<div id="whiteboard-container" class="row">
			<div>
				<p class="teal-text s12" style="font-weight: 600; margin-left: 15px">You
					can make personal notes in below section and download notes in the
					PDF format
				<p>
			</div>
			<div id="whiteboard-canvas-container" class="center col s12">
				<button id="white-board-eraser"
					class="btn waves-effect waves-light right"
					style="margin-bottom: 3px">CLEAR</button>
				<canvas id="whiteboard-canvas"></canvas>
				<button id="download-pdf" class="btn waves-effect waves-light left">DOWNLOAD</button>
			</div>
		</div>
	</div>
</div>