<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidenav">
	<ul class="sidenav" id="mobile-demo" style="width: 150px">
		<li><a class="register-link waves-effect teal-text" href="#">Register</a></li>
		<li><a class="login-link waves-effect teal-text" href="#">Login</a></li>
		<li class="hidden"><a id="username-placeholder teal-text"
			href="#" style="pointer-events: none;">User</a></li>
		<li class="hidden">><a class="logout-link waves-effect teal-text"
			href="#">Logout</a></li>
	</ul>
</div>